//color theme
//text color
$text: #333;
//second drawing color: headers...
$text-alt: #888;
//text accents: links, active elements
$text-accent: royalblue;
//main background
$background: #fff;
//second background color: plates, warnings, table rows
$background-alt: #f0f0f0;
//accented background, must go under text colors
$background-accent: #ffc;
