
//color theme
//text color
$text: #fafafa;
//second drawing color: headers...
$text-alt: #aaaaaa;
//text accents: links, active elements
$text-accent: #1b97a3;
//main background
$background: #222;
//second background color: plates, warnings, table rows
$background-alt: #444;
$background-accent: #22c;
