
//color theme
//text color
$text: #3e3939;
//second drawing color: headers...
$text-alt: #449082;
//text accents: links, active elements
$text-accent: #b63c16;
//main background
$background: #dfe0ca;
//second background color: plates, warnings, table rows
$background-assent: #a8968e;
$background-alt: #f2eeda;
