@import "./default.scss";
body{
  background-color: #333;
  color: #fafafa;
}

h1,h2,h3,h4,h5,h6{
color: #aaa;
}

a{
  color: yellow;
  text-decoration: solid underline yellow;
  &:visited{
    color: gold;
  text-decoration: solid underline gold;
  }
}

hr{
background-image: linear-gradient(to bottom, transparent 1px, transparent 13.5px, #fff 13.5px, #fff 17.5px, transparent 17.5px, transparent 31px);
}

body footer#pageFooter{
  border-color: #fafafa;
  color: #fafafa;
  a{
    color: White;
  }
}

table td{
  border-bottom-color: gray;
}
