@use "./utility/normalize.css";
// @use "./hljs/materia.min.css";
@use "./hljs/atom-one-light.min.css";
@import "./utility/font_stacks.scss";
// @use "./typebase.scss";
$fontsize: 16px;
$leading: 24px;
.hljs-params{
  color: #444;
}

body, html{
  margin: 0 ;
  padding: 0;
  min-width: 100%;
  font-size: $fontsize;
  line-height: $leading;
  font-family: sans-serif;
  background-color: white;
  color: #333;
  font-family: $system-sans;
}

p, ul, ol,
hr,
h1,h2,h3,h4,h5,h6{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  @media(max-width: 800px){
    margin-left: $leading;
    margin-right: $leading;
    max-width: 100%;
  }
}

p{
  margin-top: 0;
  margin-bottom: $leading;
}
video, audio , object , iframe , canvas, div{
  max-width: 100%;
  margin: $leading auto;
}

ul,ol{
  margin-top: $leading;
  margin-bottom: $leading;
  padding-left: 0;
}
ol{
  counter-reset: ol-items;
}
ol li{
  list-style: none;
 counter-increment: ol-items;
  margin-left: $fontsize * 1.5; 
  position: relative;
 &::before{
    content: counter(ol-items) ".";
    position: absolute;
    left: - $fontsize * 1.5;


 }
}

ul li{
  list-style: none;
  margin-left: $fontsize * 1.5; 
  position: relative;
  &::before{
    content: "—";
    display: block;
    position: absolute;
    left: - $fontsize * 1.5;
    
  }
}

h1,h2,h3,h4,h5,h6{
  margin-bottom: $leading;
  margin-top: 2*$leading;
  color: black;
}

hr{
  margin-top: $leading;
  margin-bottom: $leading;
  display: block;
  border: none;
  height: 1px;
  background-color: black;
  
}

h1{
  font-size: 3rem;
  line-height: 100%;
  margin-bottom: 2*$leading;
  margin-top: 2*$leading;
  font-weight: 400;
  color: black;
}

a{
  color: royalblue;
  &:hover{
    color: royalblue;
  }
  &:visited{
    color: black;
  }
  &:active{
    color: red;
  }
}

h1 + h2{
  font-size: 2rem;
  margin-bottom: 1*$leading;
  padding-bottom: 2*$leading;
  margin-top: -$leading * 1.5;
  color: black;
  // border-bottom: 3px solid slategray;
  font-weight: 400;
}

h2{
  font-size: 2rem;
  font-weight: 500;
}

h3{
  font-size: 1.5rem;
  font-weight: 500;
}

h4{
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: $leading;
}

h5{
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  margin-top: $leading;
}
h6{
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: $leading;
}

big{
  font-size: 1.2*$fontsize;
  line-height: $leading;
}

small{
  font-size: 0.8*$fontsize;
  line-height: 0.5*$leading;
  letter-spacing: 0.05rem;
}

.container > img{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2*$leading;
  margin-top: $leading;

}
img{
  display: block;
  margin: 0  auto;
  max-width: 100%;
}

img[alt*=wide]{
width: 100vw;
max-width: 100vw;
position: relative;
z-index: 1;
margin-left: calc(300px - 50vw);
@media(max-width: 800px){
   margin-right: -24px;
   margin-left: -24px;
}
}

.container{
  padding-bottom: 2*$leading;
}

body > footer{
  padding: 2*$leading;
  background-color: slategray;
  color: white;
  a{
    color: white !important;
    
  }
}

blockquote{
   font-size: 1.5rem;
   line-height: 150%;
   margin: $leading;
   margin-left: auto;
   margin-right: auto;
   padding: $leading 0;
   color: slategray;
   text-align: center;
   max-width: 80vw;
   border-top: 2px solid slategray;
   border-bottom: 2px solid slategray;
   @media(max-width: 800px){
     max-width: 100%;
   }
   & > * {
     max-width: 100%;
     &:last-child{
       margin-bottom: 0;
     }
   }

}

code{
  font-family: monospace;
  padding: 0 4px;
  border-radius: 2px;
background-color: #c1c8cf;
}

pre{

  max-width: 100%;
  text-align: center;
background-color: #dcdbdb;
}

pre code{
  display: inline-block;
  width: auto;
  // min-width: 600px;
  margin: $leading auto;
// background-color: #263238;
background-color: #dcdbdb;
padding: $leading;
// color: #cdd3de;
}


table{
  margin: $leading auto;
  border-collapse: collapse;
  margin-bottom: 2*$leading;
  @media(max-width: 800px){
    margin-right: $leading;
    margin-left: $leading;
    font-size: 0.8*$fontsize;
    line-height: 0.5*$leading;
  }
  td,th{
    padding: calc($leading/4) calc($leading/2);
    vertical-align: top;
    text-align: left;
  }
  th{
    font-weight: 500;
    padding-left: 0;
    color: gray;
    padding-right: $leading;
  }
  td{

    border: 1px solid silver;
  }
}

li label{
  margin-left: $fontsize;
}
