@import "./utility/font_stacks.scss";
@import "./sources/typebase.scss";
// @import "./colors/bw.scss";

body{
  font-family: $system-sans; 
  color: $text;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: $background;
}

h1, h2, h3, h4, h5,h6{
  font-weight: 600;
  font-family: $system-serif; 
  color: $text-alt;
// font-family: 'Montserrat' , Tahoma ,   sans-serif;
}

a{ color: $text-accent }

h1+h2{
  margin-top: 0em;
  font-weight: normal;
  font-size: 1.5 * $scale * 1rem;
}

li input[type=checkbox]{

}

.container{
 max-width: 800px;
 box-sizing: border-box;
margin: 0 auto;
padding-bottom: 2rem;
padding-left: 1rem;
padding-right: 1rem;
flex-grow: 1;
}

#pageFooter{
text-align: center;
padding: 2rem;
background-color: $text-alt;
color: $background;
a{ color: $background-alt !important}
}

li input[type=checkbox]{
  margin-right: 1em;
  margin-left: -1.5em;
}

code , pre{
font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; 
}

code{
padding: 0 2px;
margin: 0 3px;
// font-size: 80%;
padding: 0.2em 0.4em;
line-height: $leading;
background-color: $background-alt;
border-radius: 4px;
}

pre code{
display: block;
background-color: $background-alt;
padding: 1rem;
line-height: $leading;
font-size: 1em;
margin-top: $leading;
margin-bottom: 0;
border-radius: 4px;
}
p img{
display: block;
margin: 0 auto;
max-width: 100%;
}

table{
border-collapse: collapse;
font-size: 0.8em;
line-height: 120%;
}

td, th{
padding: 0.5em 0.5em;
text-align: left;
vertical-align: bottom;
line-height: 120%;
}

td{
  border-right: 1px solid $text-alt;
vertical-align: top;
  &:last-child{
    border-right: 0;
  }

}
tr:last-child{
  border-bottom: 1px solid $text-alt;
}

hr{
margin-top: $leading;
margin-bottom: 0;
border: none;
height: 3px;
background-color: transparent;

	margin: 20px 0;

	padding: 0;

	height: 10px;

	border: none;

	color: orange;

	background-image: linear-gradient(90deg, $text-alt, $text-alt 33.33%, transparent 33.33%, transparent 100%);

	background-size: 5px 100%;

}

th{
background-color: transparent;
font-weight: 400;
}

tr:nth-child(odd) td{
background-color: $background-alt;
}
 
blockquote{
  border-bottom: 0px solid gray;
  border-top: 0px solid gray;
  padding: 1px 0 $leading $leading ; 
  margin-left: 0;
  margin-right: 0;
  font-size: 1.4em;
  line-height: 140%;
  color: $text-alt;
  position: relative;
  &:before{
    content: " ";
    display: block;
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background-repeat: repeat;
    background-size: 10px 6px;
    // border: 1px solid red;

	background-image: linear-gradient(0deg, $text-alt, $text-alt 33.33%, transparent 33.33%, transparent 100%);
  }
}
